@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navy: #0D4C92;
    --teal: #82AAE3;
    --light-teal: #91D8E4;
    --lighter-teal: #BFEAF5;
    --white: #fff;
    --transition: all 0.3s linear;
    --border-style: 3px solid var(--teal);
    --shadow-style: 0px 0px 5px rgba(0, 0, 0, 0.2);
    --input-color: rgb(248, 248, 248);
    --gray: rgb(68, 68, 68);
    --danger: rgb(204, 42, 42);
}

body {
    background-color: var(--white);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: var(--navy);
}

h1 {
    font-size: 1.7rem;
    color: var(--navy);
}

ul li {
    list-style: none;
}

button {
    border-color: transparent;
    background-color: var(--teal);
    padding: 5px 10px;
    border-radius: 10px;
}

footer {
    color: var(--lighter-teal);
    font-size: 10px;
    padding: 20px;
    text-align: right;
}

.heading {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.7rem 1rem;
}

.nav-links {
    height: 0;
    overflow: hidden;
    color: var(--lighter-teal);
    padding: 5px 15px;
    transition: var(--transition);
}

.nav-links li {
    display: block;
    padding: 3px;
    transition: var(--transition);
    
}

.nav-show {
    height: 5rem;
}

.toggle-nav {
    background-color: transparent;
    border-color: transparent;
    color: var(--gray);
    font-size: 1.5rem;
    padding: 0 1.5rem;
    position: absolute;
    right: 0.5rem;
    transition: var(--transition);
} 

.options {
    display: flex;
    align-items: center;
    padding: 5px 1rem;
    font-size: 15px;
    background-color: var(--white);
    border-radius: 20px;
    margin: 5px;
}

.categories {
    display: flex;
    padding: 5px;
}

.categories li {
    padding: 10px;
    cursor: pointer;
}

.toggle-cart {
    font-size: 1rem;
    position: absolute;
    right: 20px;
}

button:hover {
    transform: scale(1.03);
}

.cart {
    background: var(--white);
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 10px;
    padding: 20px;
    width: fit-content;
    min-width: 450px;
    border-radius: 10px;
    box-shadow: var(--shadow-style);
    display: none;
}

.show {
    display: inline-block;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: var(--border-style);
}

.cart-item {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.item-price {
    position: absolute;
    right: 7rem;
    color: var(--navy);
}

.total-purchase {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    border-top: var(--border-style);
    padding: 10px 0;
}

.selected {
    background-color: var(--input-color);
    border-radius: 10px;
}

.quantity {
    width: 40px;
    border-color: var(--teal);
    background-color: var(--input-color);
}

.remove {
    border: none;
    background-color: transparent;
    color: var(--danger);
}

.purchase {
    border-color: transparent;
    background-color: var(--teal);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
}
.items {
    background-color: var(--white);
    margin: 5px 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

img {
    width: 100%;
}

.product {
    width: 220px;
    margin: 5px;
}

.product img {
    height: 200px;
}

.item-img {
    width: 50px;
}

.info {
    display: flex;
    align-items: center;
}

.info p {
    padding: 0 8px;
}

.add-to-cart-btn {
    color: var(--white);
}

.price {
    color: var(--navy);
    font-size: 18px;
    padding-right: 5px;
}

.total-price {
    color: var(--navy);
}

.price-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
}

.rotate {
    transform: rotate(90deg);
}

.hide {
    display: none;
}

@media only screen and (min-width: 800px) {
    .toggle-nav {
        display: none;
    }
    .nav-links {
        height: 5rem;
        display: flex;
        position: absolute;
        z-index: 3;
        color: var(--gray);
        right: 10px;
        top: 12px;
    }
}

/* for mobile screens */

@media (max-width: 520px) {
    .cart {
        transform: scale(0.7);
        position: fixed;
        right: -3rem;
        bottom: -1rem;
    }
    .options h3 {
        font-size: 15px;
    }

    .categories li {
        font-size: 9px;
        padding: 10px 5px;
        margin: 0;
    }
    .product {
        width: 100%;
        padding: 20px;
    }
}